/* The Default SaxOS button class */
.dfbutton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: none;
  color: black;
  padding: 8px 16px; 
  font-size: 15px;
  position:relative;
  outline: none;
}
.dfbutton:focus{
  outline: none;
}

/* Just hover values for buttons and other things */
:root {
  --color: 0,0,0;
  --alpha: 0.47;
  --clicked: 0.57;
}

.dfbutton:hover {
  background-color: rgba(var(--color), var(--alpha));
  color: white;
  transition: all 0.6s;
}
.dfbutton:active {
  background-color: rgba(var(--color), var(--clicked));
  transition: all 0.4s
}
/* Taskbar stuff I think */
.taskb {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: none;
  color: black; 
  padding: 8px 16px;
  font-size: 15px; 
  position:relative;
  outline: none;
  right:auto;
}

.taskb:focus{
  outline: none;
}
.taskb:hover {
  background-color: rgba(var(--color), var(--alpha));
  color: white;
  transition: all 0.6s;
}
.taskb:active {
  background-color: rgba(var(--color), var(--clicked));
  transition: all 0.4s
}
/* The iconic little red dot that closes apps */
.closebutton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(255, 0, 0, 0.711);
  border: none; 
  text-align: center;
  position: absolute;
  top: 4px;
  right: 6px;
  margin-top: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}


.closebutton:hover {
  background-color:red;
  color: white;
  transition: background-color 0.4s
}
.closebutton:after {
  background-color:rgba(255, 36, 36, 0.672);
  transition: all 0.3s
}

.closebutton:active {
  background-color:red;
  transition: all 0.3s
}

/* Unused class lmaolmao*/
  .timefont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: left;
  }
/* Topbar/Activity Bar*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
   width: 100%;
   height: 20px;
   font-size: 10px;
   z-index: 100000000;
    background-color: rgba(255,255,255,0.87);
    color: black;
    text-align: center;
    padding: -5px;
     -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

  /* The dock */
  .footer {
     position: absolute;
     left:50%;
     bottom: -55px;
     width: 50%;
     height: 36px;
     transform: translate(-50%, -50%);
     border-radius: 10px;
     z-index: 1000;
     background-color: rgba(255,255,255,0.87);
     color: black;
     text-align: center;
     padding: -5px;
     animation:popup3 1750ms;
     transition: bottom 500ms ease-in-out;
     -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .footerup{
    bottom: -5px;
    transition: bottom 1000ms ease-in-out;
  }
.taskbaractivate{
position: absolute; 
left:50%; 
bottom: -115px; 
width: 195px; 
height: 10px; 
border-bottom-right-radius: 10px;
border-top-right-radius: 10px; 
border-bottom-left-radius: 10px; 
border-top-left-radius: 10px; 
transform: translate(-50%, -125px); 
background-color: white; 
z-index: 1;
}
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

::-webkit-scrollbar {
  width: 5px;
  height:5px;
  }

::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 111px;
}
::-webkit-scrollbar-thumb {
  box-shadow: 0 0 5px grey; 
  background-color: grey;
  border-radius: 111px;
}

/* Window frames */
.window {
  position: absolute;
  z-index: 9;
  background-color: rgba(255,255,255,0);
  text-align: center;
  border: 1px none black;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width:auto;
  height:auto;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 325px;
  min-height: 644px;
  max-width: 1910px;
  max-height: 840px;
  animation: popup2 0.45s;
  transition: transform
}

@keyframes popup2 {
  from{
    transform: translate(-50%, -50%) scale(0);
  }
  to{
    transform: translate(-50%, -50%) scale(1);
  }
}
  @keyframes popup3 {
  from{
    display: block;
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes mymove {
  from {top: 10000px;}
  to {top: 0px; animation: mymove2 5s;}
}
iframe {outline: none; margin:0px; border:0;}
#wintitlebar {
  padding: 3px;
  width:100%;
  z-index: 10;
  outline:#000000 solid 1px;
  background-color:rgb(14, 14, 14);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

/* Simple body stuff like background */
body {
  margin:0px;
  font-family:"Open Sans",sans-serif;
  background-image: url('./saxosbg2.jpg');
  background-repeat: no-repeat;
  background-size:1920px 1080px;
  height: 100%; 
    margin: 0;
  overflow: hidden;
}
/* May be borked for now but not when saxos release */
* {
  cursor: url('saxoscursor2.gif'), default;
  z-index: -0;
    }

/* The sweet left click madness yesyes */
#context-menu {
  position: absolute;
  z-index: 99999999999999;
  width:150px;
  background:rgba(255,255,255,0.87);
  border-radius:1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transform:scale(0);
  transform-origin:top left;
  -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
#context-menu.active {
  transform:scale(1);
  opacity: 1;
  transition:transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
#context-menu.notactive {
  transform:scale(0);
  opacity: 0;
  transition:transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
#context-menu.smooth {
  transition:top 120ms ease-in-out,left 120ms ease-in-out ;
}

#context-menu .item {
  padding:8px 2px;
  font-size:13px;
  columns: #000000;;
}
#context-menu .item:hover {
  background:rgba(0,0,0,0.27);
  color: #fff;
  font-size:14px;
  border-radius:1px;
  transition: all 0.3s;
}
#context-menu .item:active {
  background: rgba(255,255,255,0.37);
  font-size:14px;
  transition: all 0.3s;
}

#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}
/* Snaps an element to the left */
.snap-left{
  position: fixed;
      top: 0px;
     left: 0.1px;
     text-align:left;
}
/* Snaps an element to the right */
.snap-rite{
  position: absolute;
  top: 0px;
  right: 0.1px;
}

/* Username positioning on the dock */
.userfield{
  position: absolute;
  top: 0px;
  right: 70px;
}
/* Opacity fadein */
@keyframes opacity {
  from{opacity:0;}
  to{opacity:1;}
}
/* Start menu */
.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.69); 
  overflow: hidden;
  backdrop-filter: blur(10px);
  animation: opacity 1s alternate;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  width: 80%;
  animation: fadeIn 1s alternate;
}

/* A second close button amiright? */
.close {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(255, 0, 0, 0.611);
  border: none;
  color: black;
  text-align: center;
  font-size: 16px; 
  border-radius: 50%;
  height: 15px;
  width: 15px;
  float:right;
}

.close:hover {
  background-color:red;
  color: white;
  transition: background-color 0.4s
}
.close:after {
  background-color:rgba(255, 36, 36, 0.672);
  transition: all 0.3s
}

.close:active {
  background-color:red;
  transition: all 0.3s
}
